<hibernate-configuration>
	<session-factory>

		<!-- Conexión a Base de Datos -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">
			jdbc:mysql://localhost/cc?useLegacyDatetimeCode=false&amp;serverTimezone=America/Buenos_Aires</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- Configuración básica -->
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- Mostrar SQL si querés debug -->
		<property name="hibernate.show_sql">false</property> 
		<property name="hibernate.format_sql">true</property>
		
		<!-- Session actual por hilo -->
		<property name="current_session_context_class">thread</property>

		<!-- Entidades mapeadas -->
		<mapping resource="mapeos/Persona.hbm.xml" />
		<mapping resource="mapeos/Turno.hbm.xml" />
		<mapping resource="mapeos/Servicio.hbm.xml" />
		<mapping resource="mapeos/ReservaTurno.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>
